.container {
  background-color: #f0f0f0;
  height: 500px;
  width: 100vw;
}

@media (max-width: 768px) {
  .container {
    height: 800px;
  }
}

.subContainer {
  margin-left: 7.5%;
  margin-right: 7.5%;
  background-color: white;
  height: 585px;
  margin-top: -14%;
  position: relative;
  z-index: 5;
}

@media (max-width: 768px) {
  .subContainer {
    height: 700px;
  }
}

.arrowContainer {
  background-color: #306bdd;
  height: 111px;
  width: 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.whatAreYourChallenges {
  margin-top: 8%;
  margin-left: 12.5%;
  width: 50%;
  height: 16;
  font-family: Gilroy;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.13;
  text-align: left;
  color: #00194a;
}

@media (max-width: 768px) {
  .whatAreYourChallenges {
    margin-top: 6.3%;
    width: 75%;
    height: 11%;
    font-size: 30px;
  }
}

.dayToDayBusiness {
  width: 30%;
  height: 20%;
  margin-top: 9%;
  margin-left: 12.5%;
  font-family: Lato;
  font-size: 22px;
  line-height: 1.32;
  color: #00194a;
}

@media (max-width: 768px) {
  .dayToDayBusiness {
    width: 75%;
    height: 8.5%;
    margin-top: 3.5%;
    line-height: 1.32;
    text-align: center;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 768px) {
  .row {
    display: inline;
    text-align: center;
    align-content: center;
  }
}

.firstIconContainer {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin-bottom: 4%;
}

@media (max-width: 768px) {
  .firstIconContainer {
    margin-top: 8%;
    justify-content: center;
  }
}

.firstIconContainerText {
  width: 65%;
  height: 10%;
  margin-left: 5%;
  padding-top: 2%;
  font-family: Lato;
  font-weight: 500;
  font-style: normal;
  line-height: 1.22;
  text-align: left;
  color: #000000;
}

.divider {
  margin-top: 10%;
  border-top: 1px solid #bbb;
  width: 80%;
}

@media (max-width: 768px) {
  .divider {
    margin: auto;
  }
}

.otherIconContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  justify-content: start;
  align-items: center;
  align-content: center;
  margin-bottom: 4%;
}

@media (max-width: 768px) {
  .otherIconContainer {
    justify-content: center;
  }
}
