.container {
  width: 100vw;
  height: 771px;
  background-color: #f0f0f0;
  display: flex;
  padding-top: 77px;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.imageContainer {
  object-fit: contain;
}

.benefits {
  margin-top: 55px;
  margin-left: 72px;
  font-size: 40px;
  line-height: 50px;
  color: #00194a;
  font-family: Gilroy-ExtraBold;
}

.firstRectangle {
  margin-top: 196px;
  margin-left: -140px;
  width: 217px;
  height: 177px;
  background-color: #00194a;
}

.rectangleTitle {
  height: 30px;
  font-family: Gilroy-ExtraBold;
  font-size: 54px;
  color: white;
  margin-top: 18px;
  margin-left: 28px;
}

.rectangleSubTitle {
  font-family: Lato-Regular;
  font-size: 15px;
  line-height: 20px;
  color: white;
  margin-left: 28px;
}

.row {
  display: flex;
}

.secondRectangle {
  margin-top: 161px;
  width: 212px;
  height: 170px;
  background-color: white;
  border: 1px solid #d2d4da;
}

.blackRectangleTitle {
  height: 30px;
  font-family: Gilroy-ExtraBold;
  font-size: 54px;
  color: #292929;
  margin-top: 18px;
  margin-left: 28px;
}

.blackRectangleSubTitle {
  font-family: Lato-Regular;
  font-size: 15px;
  line-height: 20px;
  color: #2e2e2e;
  margin-left: 28px;
}

.thirdRectangle {
  margin-top: 103px;
  width: 205px;
  height: 170px;
  background-color: white;
  border: 1px solid #d2d4da;
}

.fourthRectangle {
  width: 407px;
  height: 140px;
  background-color: white;
  border: 1px solid #d2d4da;
  margin-left: -60px;
  display: flex;
}

.fourthRectangleSubTitle {
  height: 30px;
  width: 40%;
  font-family: Lato-Regular;
  font-size: 15px;
  color: #292929;
  margin-top: 35px;
  margin-left: 5%;
}

.fifthRectangle {
  width: 219px;
  height: 170px;
  background-color: white;
  border: 1px solid #d2d4da;
  margin-left: 40px;
  margin-top: -100px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .imageContainer {
    object-fit: contain;
    width: 314px;
    height: 290px;
  }

  .benefits {
    margin-left: 0px;
    margin-top: 1%;
    font-size: 30px;
    line-height: 35px;
  }

  .firstRectangle {
    margin-top: -80px;
    margin-left: 0px;
    width: 40%;
    height: 130px;
    background-color: #00194a;
  }

  .rectangleTitle {
    font-size: 32px;
  }
  
  .rectangleSubTitle {
    font-size: 12px;
    line-height: 14px;
  }

  .secondRectangle {
    margin-top: -40px;
    width: 40%;
    height: 150px;
  }
  
  .blackRectangleTitle {
    font-size: 32px;
  }
  
  .blackRectangleSubTitle {
    font-size: 12px;
    line-height: 14px;
  }

  .thirdRectangle {
    margin-top: 90px;
    margin-left: -25%;
    width: 40%;
    height: 130px;
  }

  .fifthRectangle {
    width: 35%;
    height: 130px;
    margin-left: 20%;
    margin-top: -50px;
  }

  .fourthRectangle {
    width: 70%;
    height: 95px;
    margin-top: 0%;
    margin-left: 0px;
    display: flex;
    margin-bottom: 50px;
  }

  .fourthRectangleSubTitle {
    width: 100%;
    font-size: 12px;
  }
}
