.container {
  width: 100vw;
  height: 950px;
  background: url("../../assets/Try-bex-Cover/Try-bex-Cover.webp");
  background-size: cover;
  margin-top: -15px;
  display: flex;
  padding-top: 20%;
}

.tryBexForFree {
  width: 70%;
  height: 20%;
  padding-left: 7.5%;
  font-family: Gilroy;
  font-size: 100px;
  font-weight: 800;
  line-height: 100px;
  text-align: left;
  color: white;
}

.month_users_digital_card_only {
  padding-left: 7.5%;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  color: white;
}

.getYourDemoContainer {
  margin-left: 7.5%;
  width: 150px;
  height: 50px;
  place-items: center;
  border: solid 1px white;
  margin-top: 1%;
}

.getYourDemo {
  padding-top: 6%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.rowContainer {
  display: flex;
  margin-top: 5%;
}

.logosContainer {
  object-fit: contain;
  margin-left: 5%;
}

.imageContainer {
  object-fit: contain;
  position: absolute;
  right: 0px;
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
    height: auto;
    background: url("../../assets/Try-BEX-Cover_Mobile/Try-BEX-Cover.webp");
    background-size: cover;
    display: table;
    margin-top: 10px;
  }
  
  .imageContainer {
    object-fit: contain;
    position: relative;
    margin-top: 10%;
    height: 344px;
    width: 330px;
    left: 0%;
    float: right;
  }

  .tryBexForFree {
    width: 85%;
    height: 161px;
    font-size: 70px;
  }
}