@media (min-width: 320px) {
  .bg_image {
    background: url("../../../assets/Main BG/Main BG.webp");
    background-size: cover;
    width: 100vw;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

@media (min-width: 768px) {
  .bg_image {
    background: url("../../../assets/Main BG/Main BG.webp");
    background-size: cover;
    width: 100vw;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}

@media (min-width: 1200px) {
  .bg_image {
    background: url("../../../assets/BG Cover/BG Cover@3x.webp");
    background-size: cover;
    width: 100vw;
    padding-left: 7.5%;
    padding-right: 7.5%;
    position: relative;
    z-index: 1;
  }
}

.logo {
  padding-top: 4%;
}

.nav {
  margin-left: 13.1%;
  margin-top: -2%;
  display: flex;
}

.navText {
  width: auto;
  height: 2%;
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #feffff;
  margin-right: 5%;
}

.logosContainer {
  position: absolute;
  right: 10%;
  display: flex;
  margin-top: -1.8%;
}

.logosSpaceMargin {
  margin-right: 25%;
}

.menuContainer {
  position: absolute;
  right: 8%;
  top: 4%;
}

.businessExpenseManagementMadeEasy {
  width: 44%;
  height: 21%;
  margin-top: 13%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  font-family: Gilroy;
  font-size: 55px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: white;
}

@media (max-width: 768px) {
  .businessExpenseManagementMadeEasy {
    width: 84%;
    height: 16%;
    margin-top: 100%;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
    font-family: Gilroy;
    font-size: 35px;
    font-weight: 800;
    line-height: 1.13;
    text-align: left;
    color: white;
  }
}

.controlSpendSave {
  width: 44%;
  height: 4%;
  font-family: Lato;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.46;
  text-align: left;
  color: white;
}

@media (max-width: 768px) {
  .controlSpendSave {
    width: 70%;
    height: 2%;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.46;
    text-align: left;
    color: white;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.tryItForFreeContainer {
  margin-top: 11%;
  width: 11%;
  height: 6%;
  background-color: #306bdd;
  display: grid;
  place-items: center;
  margin-right: 1%;
}

@media (max-width: 768px) {
  .tryItForFreeContainer {
    margin-top: 11%;
    width: 40%;
    height: 6%;
    background-color: #306bdd;
    display: grid;
    place-items: center;
    margin-right: 4%;
  }
}

.tryItForFreeText {
  padding-top: 5%;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: white;
}

.getYourDemoContainer {
  margin-top: 11%;
  width: 11%;
  height: 6%;
  display: grid;
  place-items: center;
  border: solid 1px white;
}

@media (max-width: 768px) {
  .getYourDemoContainer {
    margin-top: 11%;
    width: 40%;
    height: 6%;
    display: grid;
    place-items: center;
    border: solid 1px white;
  }
}

.poweredByText {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #d7d9de;
}

@media (max-width: 768px) {
  .poweredByContainer {
    display: flex;
    margin-top: 10%;
    padding-bottom: 20%;
    margin-bottom: 15%;
  }
}

.divider {
  margin-top: 0.2%;
  margin-left: 2%;
  margin-right: 2%;
  border-left: 1px solid #d7d9de;
  height: 40px;
}
